<!DOCTYPE html>

<html lang="fr-ca">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
    <title>@ViewBag.Title - Administration du site</title>
    @Styles.Render("~/Content/admincss")
    <link href="~/Content/fullcalendar.css" rel="stylesheet" />
    <style type="text/css">
        body.mceBlackBody {background:#000; color:#fff;}
    </style>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/handlebars")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/AdminScript")
    @Scripts.Render("~/bundles/AdminScript2")

    <script type="text/javascript">
        $(document).ready(function () {
            $.ajaxSetup({ cache: false });
        });
    </script>
    @RenderSection("scripts", required: false)

    <meta name="description" content="page de administration du site" />
</head>

<body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p class="navbar-brand" >Panel d'administration</p>
            </div>
            <!-- /.navbar-header -->



                        @Html.Partial("_LoginPartial")
           
        <!-- /.dropdown -->

            <!-- /.navbar-top-links -->

            <div class="navbar-static-side nav-stacked container" role="navigation">
                <div class="sidebar-collapse navbar-collapse collapse" id="side-menu">
                    <ul class="nav">
                        <!-- search bar
             <li class="sidebar-search">
              <div class="input-group custom-search-form">
                  <input type="text" class="form-control" placeholder="Rechercher...">
                  <span class="input-group-btn">
                      <button class="btn btn-default" type="button">
                          <i class="fa fa-search"></i>
                      </button>
                  </span>
              </div>

          </li>  -->
                        <li>
                            <a href='@Url.Action("Index", "Admin")'><i class="fa fa-dashboard fa-fw"></i> Accueil</a>
                        </li>



                        <li>

                            <a href="#"><i class="fa fa-star"></i> Évenements<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href='@Url.Action("Evenements_a_venir", "Admin")'><i class="fa fa-star-o"></i> Évenements à venir</a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Evenements_Passes", "Admin")'><i class="fa fa-database"></i> Évenements passes</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href='@Url.Action("Notice", "Admin")'><i class="fa fa-paper-plane fa-fw"></i> Notices</a>
                        </li>
                        <li>
                            <a href='../tinyfilemanager.net/Photos.aspx'><i class="fa fa-image fa-fw"></i> Gestion des photos</a>
                        </li>

                        <li>
                            <a href='@Url.Action("Index", "UsersAdmin")'><i class="fa fa-users fa-fw"></i> Membres</a>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-file fa-fw"></i> Pages<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href='@Url.Action("Accueil", "Admin")'><i class="fa fa-home fa-fw"></i> Page d'accueil</a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Contact", "Admin")'><i class="fa fa-map-marker fa-fw"></i> Contactez nous</a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Achats", "Admin")'><i class="fa fa-cutlery fa-fw"></i> Presentation G. achats</a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Pages", "Admin")'><i class="fa fa-file-o fa-fw"></i> Gestor des Pages</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-shopping-cart fa-fw"></i> Groupe de achats<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="flot.html"><i class="fa fa-pencil-square fa-fw"></i> Commande de la semaine <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href='@Url.Action("NewOrder", "AchatAdmin")'><i class="fa fa-pencil-square-o fa-fw"></i> Commande globale</a>
                                        </li>
                                        <li>
                                            <a href='@Url.Action("Index", "AchatAdmin")'><i class="fa fa-align-left fa-fw"></i> listes des produits</a>
                                        </li>
                                        <li>
                                            <a href='@Url.Action("MembersOrders", "AchatAdmin")'><i class="fa fa-file-text-o fa-fw"></i> Reçus des membres</a>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a href='@Url.Action("Categories", "AchatAdmin")'><i class="fa fa-list-ul"></i> Categories</a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Products", "AchatAdmin")'><i class="fa fa-coffee"></i> Produits</a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Suppliers", "AchatAdmin")'><i class="fa fa-truck"></i> Fourniseurs</a>
                                </li>
                                <li>
                                    <a href='@Url.Action("OldOrders", "AchatAdmin")'><i class="fa fa-database"></i> Anciennes Commandes</a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Taxes", "AchatAdmin")'><i class="fa fa-line-chart"></i>Taxes</a>
                                </li>
                            </ul>
                            @*<!-- /.nav-second-level -->*@
                        </li>
                        @if(User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Supermoi"))
                            {
                                <li>
                                    <a href='@Url.Action("Configuration", "Admin")'><i class="fa fa-gear fa-fw"></i> Configuration de base</a>
                                </li>

                                <li>
                                    <a href='@Url.Action("Index", "RolesAdmin")'><i class="fa fa-gear fa-fw"></i> Gestion de Roles</a>
                                </li>
                            }
                        }
                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <br />
            <br />
            <br />
            <div class="row container-fluid">
                    @RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - Crée par Pablo Aguilar-Lliguin</p>
                    </footer>
            </div>
        </div>

</body>

</html>