<!DOCTYPE html>
<html lang="fr-ca">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewBag.Message" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @*<style type="text/css">
         body
         {
             /*ordenes multi navigateur pour faire le fond degradé*/
            background: #b4e391; /* Old browsers */
            /* IE9 SVG, needs conditional override of 'filter' to 'none' */
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMTIlIiBzdG9wLWNvbG9yPSIjYjRlMzkxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTIlIiBzdG9wLWNvbG9yPSIjNjFjNDE5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2I0ZTM5MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
            background: -moz-radial-gradient(center, ellipse cover, #b4e391 12%, #61c419 52%, #b4e391 100%); /* FF3.6+ */
            background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(12%,#b4e391), color-stop(52%,#61c419), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
            background: -webkit-radial-gradient(center, ellipse cover, #b4e391 12%,#61c419 52%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
            background: -o-radial-gradient(center, ellipse cover, #b4e391 12%,#61c419 52%,#b4e391 100%); /* Opera 12+ */
            background: -ms-radial-gradient(center, ellipse cover, #b4e391 12%,#61c419 52%,#b4e391 100%); /* IE10+ */
            background: radial-gradient(ellipse at center, #b4e391 12%,#61c419 52%,#b4e391 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
         }

         /*changer le couleur de default de la navbar*/
         .navbar-default {
             background-color: #94c44d;
             border-color: #8e44ad;
         }
         .navbar-default .navbar-brand {
             color: #8b0170;
         }
         .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
             color: #ecdbff;
         }
         .navbar-default .navbar-text {
             color: #8b0170;
         }
         .navbar-default .navbar-nav > li > a {
             color: #8b0170;
         }
         .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
             color: #8b0170;
         }
         .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
             color: #ecdbff;
             background-color: #8e44ad;
         }
         .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
             color: #ecdbff;
             background-color: #8e44ad;
         }
         .navbar-default .navbar-toggle {
             border-color: #8e44ad;
         }
         .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
             background-color: #8e44ad;
         }
         .navbar-default .navbar-toggle .icon-bar {
             background-color: #8b0170;
         }
         .navbar-default .navbar-collapse,
         .navbar-default .navbar-form {
             border-color: #8b0170;
         }
         .navbar-default .navbar-link {
             color: #8b0170;
         }
         .navbar-default .navbar-link:hover {
             color: #ecdbff;
         }

         @@media (max-width: 767px) {
             .navbar-default .navbar-nav .open .dropdown-menu > li > a {
                 color: #8b0170;
             }
             .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
                 color: #ecdbff;
             }
             .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
                 color: #ecdbff;
                 background-color: #8e44ad;
             }
         }
         /*final section couleur navbar*/

         /*sections desc orders pour faire sticky footer, le footer on bas de l'écran tôut le temp*/
        html, body {
	        height: 100%;
        }
        .wrapper {
	        min-height: 100%;
	        margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
        }
        footer, .push {
	        height: 50px; /* '.push' must be the same height as 'footer' */
        }
        /*final sticky footer*/

        /*classes pour donner couleur defs fond*/
         .white-bg
         {
             background:#ffffff;
         }

         .white-t8{
             background:rgba(255, 255, 255, 0.8);
         }
    </style>*@

    <!--[if gte IE 9]>
      <style type="text/css">
        .gradient {
           filter: none;
        }
      </style>
    <![endif]-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/handlebars")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        document.createElement('header');
        document.createElement('footer');
        document.createElement('section');
        document.createElement('article');
        document.createElement('aside');
        document.createElement('nav');

        $(function () {
            $.ajaxSetup({ cache: false });

            $(".dropdown-submenu").click(function () {
                $(this).addClass("open");
                $("#menuOutres").attr("tabindex", -1).focus();
            });

            $("#menuOutres").focusout(function () {
                $(".dropdown-submenu").removeClass("open");
                $("#menuOutres").removeAttr("tabindex");
            });
        });
    </script>
</head>
<body>
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-5G9V7N"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5G9V7N');</script>
    <!-- End Google Tag Manager -->
    <div class="wrapper">
        <nav class="navbar nav-justified navbar-default" role="navigation">
            <a href="/"> <img class="col-md-2 col-xs-6 img-responsive" src="../Images/logo.png" alt="Le Moulin d'à côté'" /></a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="side-menu" role="navigation">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                    @Html.Action("Menu", "Layout")
                    <li>
                        @Html.Partial("_LoginPartial")
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container alert white-t8">
            @RenderBody()
        </div>
        <div class="push"></div>
    </div>
    <footer class="panel-footer footer">
            <p>Le Moulin d'À Côté &copy; @DateTime.Now.Year - Crée par Pablo Aguilar-Lliguin, Steeve Bouchard et Michel Goyette</p>
    </footer>
</body>
</html>
