<!DOCTYPE html>
<html lang="fr-ca">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewBag.Message" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/cssBOOT")
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style type="text/css">
         /*sections desc orders pour faire sticky footer, le footer on bas de l'écran tôut le temp*/
        html, body {
	        height: 100%;
            background: -moz-linear-gradient(left, rgba(180,247,118,0) 0%, rgba(180,247,118,0.8) 12%, rgba(180,247,118,0.92) 20%, rgba(191,230,106,1) 25%, rgba(244,145,46,1) 50%, rgba(187,236,110,1) 75%, rgba(180,247,118,0.95) 78%, rgba(180,247,118,0.8) 88%, rgba(180,247,118,0) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(180,247,118,0)), color-stop(12%,rgba(180,247,118,0.8)), color-stop(20%,rgba(180,247,118,0.92)), color-stop(25%,rgba(191,230,106,1)), color-stop(50%,rgba(244,145,46,1)), color-stop(75%,rgba(187,236,110,1)), color-stop(78%,rgba(180,247,118,0.95)), color-stop(88%,rgba(180,247,118,0.8)), color-stop(100%,rgba(180,247,118,0))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(left, rgba(180,247,118,0) 0%,rgba(180,247,118,0.8) 12%,rgba(180,247,118,0.92) 20%,rgba(191,230,106,1) 25%,rgba(244,145,46,1) 50%,rgba(187,236,110,1) 75%,rgba(180,247,118,0.95) 78%,rgba(180,247,118,0.8) 88%,rgba(180,247,118,0) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(left, rgba(180,247,118,0) 0%,rgba(180,247,118,0.8) 12%,rgba(180,247,118,0.92) 20%,rgba(191,230,106,1) 25%,rgba(244,145,46,1) 50%,rgba(187,236,110,1) 75%,rgba(180,247,118,0.95) 78%,rgba(180,247,118,0.8) 88%,rgba(180,247,118,0) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(left, rgba(180,247,118,0) 0%,rgba(180,247,118,0.8) 12%,rgba(180,247,118,0.92) 20%,rgba(191,230,106,1) 25%,rgba(244,145,46,1) 50%,rgba(187,236,110,1) 75%,rgba(180,247,118,0.95) 78%,rgba(180,247,118,0.8) 88%,rgba(180,247,118,0) 100%); /* IE10+ */
            background: linear-gradient(to right, rgba(180,247,118,0) 0%,rgba(180,247,118,0.8) 12%,rgba(180,247,118,0.92) 20%,rgba(191,230,106,1) 25%,rgba(244,145,46,1) 50%,rgba(187,236,110,1) 75%,rgba(180,247,118,0.95) 78%,rgba(180,247,118,0.8) 88%,rgba(180,247,118,0) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b4f776', endColorstr='#00b4f776',GradientType=1 ); /* IE6-9 */
        }
        .wrapper {
	        min-height: 100%;
	        margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
        }
        footer, .push {
	        height: 50px; /* '.push' must be the same height as 'footer' */
        }
        /*final sticky footer*/

        .orange-t5
        {
            background-image: linear-gradient(to bottom, #fFd2a8 ,rgba(248, 248, 248, 0.5) 100%);
            background-color: rgba(248, 248, 248, 0.5);
        }
        .buttonBox {
            position: absolute;
            bottom:0;
            right:0;
        }
    </style>

    <!--[if gte IE 9]>
      <style type="text/css">
        .gradient {
           filter: none;
        }
      </style>
    <![endif]-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/handlebars")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });

            $(".dropdown-submenu").click(function () {
                $(this).addClass("open");
                $("#menuOutres").attr("tabindex", -1).focus();
            });

            $("#menuOutres").focusout(function () {
                $(".dropdown-submenu").removeClass("open");
                $("#menuOutres").removeAttr("tabindex");
            });
        });
    </script>
</head>
<body>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_CA/sdk.js#xfbml=1&appId=438081452993871&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-5G9V7N"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5G9V7N');</script>
    <!-- End Google Tag Manager -->


    <div class="wrapper container img-rounded" style="background-color:white;">
        <div class="row container-fluid">
            <a href="/"> <img class="col-md-2 col-lg-3 img-responsive visible-md-* visible-lg-*" src="../Images/logo.png" alt="Le Moulin d'à côté'" /></a>
            <div class="col-md-10 col-lg-9">
                <br />
                <nav class="navbar navbar-default orange-t5 " role="navigation">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="navbar-collapse collapse" role="navigation">
                        <ul class="nav navbar-nav">

                            <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                            @Html.Action("Menu", "Layout")
                            <li>
                                <strong>
                                    @Html.Partial("_LoginPartial")
                                </strong>
                            </li>

                        </ul>

                    </div>
                </nav>
            </div>
            @*<h2 class="text-center" >ici la meilleur place pour metre le refran du moulin!!!!</h2>*@
        </div>

            @RenderBody()
        <div class="push"></div>
    </div>
    <footer class="panel-footer footer container">
        <p>Le Moulin d'À Côté &copy; @DateTime.Now.Year - Crée par Pablo Aguilar-Lliguin, Steeve Bouchard et Michel Goyette</p>
    </footer>
</body>
</html>
