@model IdentitySample.Models.MailModel


@{
    ViewBag.Title = "Evoyez-nous un Courriel";
}
<h3>@ViewBag.Title</h3>

<form method="post" class="form-horizontal" role="form" id="sendMail">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger", @id="validation" })
    <div class="text-success" id="success"> @ViewBag.courriel </div>
    <div class="input-group row">
        @Html.LabelFor(m => m.to, new { @class = "input-group-addon" })
        @Html.TextBoxFor(m => m.to, new { @class = "form-control", @placeholder = "votrenom@courriel.com" })
    </div>
    <div class="input-group row">
        <p class="input-group-addon">sujet &nbsp; &nbsp; &nbsp;</p>
        @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
    </div>
    <div class="input-group row">
        @Html.LabelFor(m => m.Body, new { @class = "input-group-addon" })
        @Html.TextAreaFor(m => m.Body, new { @class = "form-control", @rows = "8" })
    </div>
    <br />
    <div class="input-group row">
        <input type="hidden" name="adresse" value="@ViewData["adresse"]" />
        <button type="submit" class="btn btn-success"><b><i class="fa fa-envelope"></i> Envoyer</b> </button>
    </div>
</form>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/form")
    <script type="text/javascript">
        $(function () {
            $("#sendMail").ajaxForm({
                url: "/Home/_SendMail?obj",
                dataType: 'json',
                success: processJson
            });

            function processJson(data) { 
                // 'data' is the json object returned from the server 
                $("#validation").html("");
                $("#success").html(data);
            }
        });
    </script>
