@model IdentitySample.Models.MailModel


@{
    ViewBag.Title = "Evoyez-nous un Courriel";
}
<h3>@ViewBag.Title</h3>


@using (Html.BeginForm("_SendMail", "Home", FormMethod.Post, new
    {
        @class = "form-horizontal",
        role = "form",
        @id = "Formulaire"
    }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-error" })
    <div class="text-success"> @ViewBag.courriel </div>
    <div class="input-group row">
        @Html.LabelFor(m => m.to, new { @class = "input-group-addon" })
        @Html.TextBoxFor(m => m.to, new { @class = "form-control", @placeholder = "votrenom@courriel.com" })
    </div>
    <div class="input-group row">
        <p class="input-group-addon">sujet &nbsp; &nbsp; &nbsp;</p>
           @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
    </div>
    <div class="input-group row">
        @Html.LabelFor(m => m.Body, new { @class = "input-group-addon" })
        @Html.TextAreaFor(m => m.Body, new { @class = "form-control", @rows = "8" })
    </div>
    <input type="hidden" name="adresse" value="@ViewData["adresse"]" />
    <input type="submit" value="Envoyer" class="btn btn-success" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

