@using IdentitySample.Models

@model MailModel

@{
    ViewBag.Title = "Index";
}
<h2>@ViewBag.Title</h2>
<fieldset>
    <legend>
        Send Email
    </legend>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <p>From: </p>
        <p>@Html.TextBoxFor(m => m.from )</p>
        <p>To: </p>
        <p>@Html.TextBoxFor(m => m.to)</p>
        <p>Subject: </p>
        <p>@Html.TextBoxFor(m => m.Subject)</p>
        <p>Body: </p>
        <p>@Html.TextAreaFor(m => m.Subject)</p>
        <input type="submit" value="Send" class="btn btn-default" />
    }
</fieldset>
