@model IdentitySample.Models.Evenement
@{
    ViewBag.Title = (ViewBag.evenement.TitleEvenement != null) ? ViewBag.evenement.TitleEvenement : "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title; </h2>
<div class="row">
    <div class="container-fluid col-md-4">
        <strong>Information de base sur l'évenement :</strong>

        <div class="input-group">
            <div class="input-group-addon">Lieu : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <label>@ViewBag.evenement.PlaceEvenement  </label>
        </div>
        <div class="input-group ">
            <div class="input-group-addon">Adresse : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <label>@ViewBag.evenement.AdresseEvenement </label>
        </div>
        <div class="input-group ">
            <div class="input-group-addon ">Commence : </div>
            <label>
                @ViewBag.evenement.DateStart.ToString(" yyyy MMMM dd")
                à 
                @ViewBag.evenement.HourStart.ToString(@"hh\:mm") 
            </label>
        </div>
        <div class="input-group ">
            <div class="input-group-addon">Termine  : &nbsp;&nbsp;&nbsp;&nbsp;</div>
            <label>
                @ViewBag.evenement.DateEnd.ToString(" yyyy MMMM dd")
                à
            @ViewBag.evenement.HourEnd.ToString(@"hh\:mm")
            </label>
        </div>
    </div>
    <img class="col-md-8 img-responsive" src="../tinyfilemanager.net/resources/files/@ViewBag.evenement.PrincipalPhotoEvenement">
</div>
<br />
<br />
<div class="row">
    @Html.Raw(ViewBag.evenement.Text)
</div>
<hr />
<div class="fb-comments" data-href="http://chefjuanpi-001-site1.myasp.net/Evenements/Details?nom=@ViewBag.Title"
     data-width="100%" data-numposts="5" data-colorscheme="light"></div>


