@model IdentitySample.Models.RegisterViewModel
@{
    ViewBag.Title = "Create nouvelle compte de membre";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}

<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="container">
        <div class="col-md-6">
            <div class="row">
                <a href='@Url.Action("Index", "UsersAdmin")' class="btn btn-danger col-md-3">
                    <i class="fa fa-arrow-circle-left"></i> Liste
                </a>
            </div>
            <br />

            <div class="form-horizontal alert alert-info">

                @using (Html.BeginForm("Create", "UsersAdmin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Fiche de membre</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-error" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Prenom, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Prenom, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Nom, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Nom, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Phone, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            Rôles de utilisateur
                        </label>
                        <div class="col-md-9">
                            @foreach (var item in (SelectList)ViewBag.RoleId)
                            {
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="SelectedRoles" value="@item.Value" class="checkbox" />
                                        @item.Value.Trim()
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2">
                            <input type="submit" class="btn btn-success col-md-10" value="Creer" />
                        </div>
                    </div>
                }
            </div>
            <div class="help-block">
                <p class="text-warning">
                    Le mot de passe par defaut est <strong>Lemoulin@123 </strong> quand l'utilisateur entre pour premiere fois au site,
                    se le demandera changer le code pour une personel et secret.<br />
                    Il est toujours possible retablir ce mot de passe d'un utilisateur par l'écrean Modifier de la liste des utilisateurs.
                </p>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
