@model IdentitySample.Models.EditUserViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}

<h2>Attention</h2>

<div class="form-horizontal alert alert-danger">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Edition de fiche de membre</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id, new { @id = "idsus" })

            <div class="form-group">
                @Html.LabelFor(m => m.Prenom, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Prenom, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Prenom)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Nom, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Nom, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Nom)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Roles", new { @class = "control-label col-md-2" })
                <span class=" col-md-10">
                    @foreach (var item in Model.RolesList)
                    {
                        <input type="checkbox" name="SelectedRole" value="@item.Value" checked="@item.Selected" class="checkbox-inline" />
                        @Html.Label(item.Value, new { @class = "control-label" })
                    }
                </span>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2">
                    <input type="submit" value="Enregistrer" class="btn btn-danger col-md-2" />
                </div>
                <div class="col-md-offset-2">
                    <div id="btnSuspendre"  class="btn btn-warning col-md-2" >Suspendre</div>
                </div>
            </div>
        </div>
    }

    </div>

    <div class="row">
        <a href='@Url.Action("Index", "UsersAdmin")' class="btn btn-success col-md-1">
            <i class="fa fa-arrow-circle-left"></i> Liste
        </a>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $(function () {
        $("#btnSuspendre").click(function () {
            var i = $("#idsus").val();

            console.log(i);
            $.getJSON("/UsersAdmin/Suspendre", { id: i }, function (data) {
                $('#msg').html(data);
            });
        });
    });
        </script>
    }
