@model EpicerieModel.Models.CategoryViewModel

@{
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-4">
        <h3>@ViewBag.Message</h3>
    </div>
</div>

<br />

<p>
    Selectionner une catégorie dans la liste deroulante pour la voir et la modifier, ou cliquer sur le bouton
    nouveau pour en ajouter une.
</p>

<div class="row">
    @Html.Partial("_AdminButonSansMCE")
</div>

<br />

@using (Html.BeginForm("Categories", "AchatAdmin", FormMethod.Post, new { @class = "form-horizontal", role = "form",
    @id="Formulaire" }))
{

    @Html.AntiForgeryToken()
    <hr />

    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="row">
        <div class="input-group">
            <table>

                <tr>
                    <td>
                        @Html.LabelFor(c => c.CategoryName, new { @class = "input-group-addon", @style="width:160px" })
                    </td>
                    <td>
                        @Html.TextBoxFor(c => c.CategoryName, new { @class = "form-control", @id="name", @style="width:260px" })
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(c => c.Description, new { @class = "input-group-addon", @style="width:160px" })
                    </td>
                    <td>
                        @Html.TextAreaFor(c => c.Description, 4, 20,  new {  @class = "form-control", @id="description", @style="width:260px;height:500" })
                    </td>
                </tr>

            </table>
        </div>
    </div>

    <br />

    <div class="row">
        <button type="submit" class="btn btn-success col-md-offset-3 col-md-2" id="save">
            <i class="fa fa-save"></i><b> Enregistrer </b>
        </button>
    </div>

    @Html.HiddenFor(c => c.CategoryId, new { @id = "new123" })
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/AdminButonsV2")

    <script>

        $(function () {

            $.ajaxSetup({
                // Disable caching of AJAX responses
                cache: false
            });

            $("#btnSupr").click(function () {
                $("#dialog-confirm").dialog({
                    resizable: false,
                    height: 200,
                    modal: true,
                    buttons: {

                        "Effacer": function () {
                            var x = $("#new123").val();
                            console.log(x);
                            window.open("/AchatAdmin/delCategory?nID=" + x, "_self");
                            $(this).dialog("close");
                        },

                        "Annuler": function () {
                            $(this).dialog("close");
                        }
                    }
                }); // Fin dialog
            }); // Fin btnSupr.click

            Templateitems = Handlebars.compile($("#itemsTemplate").html());

            $.getJSON("getCategories", null, function (data) {

                var result = Templateitems(data);
                $("#ItemsList").html(result);

                $(".items").change(function () {
                    var id = $(this).children(":selected").attr("id");

                    if (id != 0) {
                        $("#btnmodif").show();
                        $("#btnSupr").show();
                        $("#Formulaire").show();
                        $("#new123").val(id);

                        $.getJSON("getCategoryDetails", { CategoryId: id }, function (data) {
                            $("#name").val(data.Nom);
                            $("#description").val(data.description);
                        }); // Fin getSupplierDetails

                    }
                    else $("#btnAnuler").click();

                }); // Fin items .change
            }); // Fin getSuppliers
        }); // Fin des functions
    </script>
}