@model EpicerieModel.Models.WeekProductViewModel

@{
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-4">
        <h3>@ViewBag.Message</h3>
    </div>
</div>

<br />

<p>Selectionner une catégorie ou un fournisseur pour avoir la liste des produits liés</p>

<br />

<div class="row">
    <div class="alert alert-warning" role="alert" id="boutons">
        <div class="col-md-3">
            <select class="form-control items" id="CategoriesList"></select>
        </div>
        <div class="btn btn-info col-md-offset-1" id="btnrechcat">Rechercher</div>
    </div>
</div>

<div class="row">
    <div class="alert alert-warning" role="alert" id="boutons">
        <div class="col-md-3">
            <select class="form-control items" id="SupplierList"></select>
        </div>
        <div class="btn btn-info col-md-offset-1" id="btnrechsupp">Rechercher</div>
    </div>
</div>

@using (Html.BeginForm("Indexs", "AchatAdmin", FormMethod.Post, new { @class = "form-horizontal", role = "form", 
    @id="Formulaire" }))
{
    
    @Html.AntiForgeryToken()
    <hr />
    
   @Html.ValidationSummary("", new { @class = "text-danger" })
    
    <div class="row">
        <div class="input-group">
            <table>

                <tr>
                    <td>
                        @Html.LabelFor(wp => wp.UnitPrice, new { @class = "input-group-addon", @style="width:160px" })
                    </td>
                    <td>
                        @Html.TextBoxFor(wp => wp.UnitPrice, new { @class = "form-control", @id="name" })
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(wp => wp.Format, new { @class = "input-group-addon", @style = "width:160px" })
                    </td>
                    <td>
                        @Html.TextBoxFor(wp => wp.Format, new { @class = "form-control", @id = "name" })
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(wp => wp.Quantity, new { @class = "input-group-addon", @style = "width:160px" })
                    </td>
                    <td>
                        @Html.TextBoxFor(wp => wp.Quantity, new { @class = "form-control", @id = "name" })
                    </td>
                </tr>

            </table>
        </div>
    </div>
    
    <br />
    
    <div class="row">
        <button type="submit" class="btn btn-success col-md-offset-3 col-md-2" id="save">
            <i class="fa fa-save"></i><b> Enregistrer </b>
        </button>
    </div>

    @Html.HiddenFor(wp => wp.ProductId, new { @id = "new123" })
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/x-handlebars-template" id="CategoriesTemplate">
        <option selected="selected" id=0 value="0">Categories</option>
        {{#each}}
        <option id={{id}} value={{id}}>{{nom}}</option>
        {{/each}}
    </script>

    <script type="text/x-handlebars-template" id="SuppliersTemplate">
        <option selected="selected" id=0 value="0">Fournisseurs</option>
        {{#each}}
        <option id={{id}} value={{id}}>{{nom}}</option>
        {{/each}}
    </script>

    <script>
        $(function () {
            $.ajaxSetup({
                // Disable caching of AJAX responses
                cache: false
            });

            TemplateCategories = Handlebars.compile($("#CategoriesTemplate").html());
            TemplateSuppliers = Handlebars.compile($("#SuppliersTemplate").html());

            $("#Formulaire").hide();

        }); // Fin d'appel des fonctions       
    </script>

}