@model EpicerieModel.Models.WeekProductViewModel

@{
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-4">
        <h3>@ViewBag.Message</h3>
    </div>
</div>

<br />

<p>Selectionner une catégorie ou un fournisseur pour avoir la liste des produits liés</p>

<br />

<script type="text/x-handlebars-template" id="CategoriesTemplate">
    <option selected="selected" id=0 value="0">Categories</option>
    {{#each}}
    <option id={{id}} value={{id}}>{{nom}}</option>
    {{/each}}
</script>

<div class="row">
    <div class="alert alert-warning" role="alert" id="boutons" style="height:65px;">
        <div class="col-md-3" style="height:auto;">
            <select class="form-control cats" id="CategoriesList"></select>
        </div>
    </div>
</div>


<script type="text/x-handlebars-template" id="SuppliersTemplate">
    <option selected="selected" id=0 value="0">Fournisseurs</option>
    {{#each}}
    <option id={{id}} value={{id}}>{{nom}}</option>
    {{/each}}
</script>

<div class="row">
    <div class="alert alert-warning" role="alert" id="boutons" style="height:65px;">
        <div class=" col-md-3">
            <select class="form-control sups" id="SuppliersList"></select>
        </div>
    </div>
</div>


<script type="text/x-handlebars-template" id="WeekProductsTemplate">
    <div class="row">
        <h4 class="col-xs-4">Produits</h4>
        <h4 class="col-xs-4">Fournisseur</h4>
        <h4 class="col-xs-1">Prix $</h4>
        <h4 class="col-xs-1">Format</h4>
        <h4 class="col-xs-1">Minimum</h4>
        <h4 class="col-xs-1"></h4>
    </div>
    {{#each}}
    <div class="row" id=Product{{ProductId}}>
        <div class="col-xs-4">
            <h5>{{ProductName}}</h5>
        </div>
        <div class="col-xs-4">
            <h5 id="{{ProductId}}">{{SupplierName}}</h5>
        </div>
        <div class="col-xs-1">
            <h5 id="{{ProductId}}">{{UnitPrice}}</h5>
        </div>
        <div class="col-xs-1">
            <h5 id="{{ProductId}}">{{Format}}</h5>
        </div>
        <div class="col-xs-1">
            <h5 id="{{ProductId}}">{{Quantity}}</h5>
        </div>
        <div class="col-xs-1">
            <input id="btnModify" type="button" value="Modifier" onclick="ModifyWeekProduct('{{ProductId}}');" class="btn btn-info col-md-offset-1" />
        </div>
    </div>
    {{/each}}
</script>

<div class="row">
    <div id="WeekProductsList" class="col-md-6"></div>
</div>

@using (Html.BeginForm("Indexs", "AchatAdmin", FormMethod.Post, new
{
    @class = "form-horizontal",
    role = "form",
    @id = "Formulaire"
}))
{

    @Html.AntiForgeryToken()
    <hr />

    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="row">
        <div class="input-group">
            <table>
                @*<tr>
                    <td>
                        @Html.LabelFor(wp => wp.SupplierId, new { @class = "input-group-addon", @style = "width:160px" })
                    </td>
                    <td>
                        @Html.DropDownListFor(wp => wp.SupplierId, new SelectList(s.SupplierId, "SupplierId", "SupplierName"), "Select Supplier", new { @class = "form-control", @id = "Supplier", @onchange = "SupplierChange()" })
                    </td>
                </tr>*@
                <tr>
                    <td>
                        @Html.LabelFor(wp => wp.UnitPrice, new { @class = "input-group-addon", @style = "width:160px" })
                    </td>
                    <td>
                        @Html.TextBoxFor(wp => wp.UnitPrice, new { @class = "form-control", @id = "UnitPrice" })
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(wp => wp.Format, new { @class = "input-group-addon", @style = "width:160px" })
                    </td>
                    <td>
                        @Html.TextBoxFor(wp => wp.Format, new { @class = "form-control", @id = "Format" })
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(wp => wp.Quantity, new { @class = "input-group-addon", @style = "width:160px" })
                    </td>
                    <td>
                        @Html.TextBoxFor(wp => wp.Quantity, new { @class = "form-control", @id = "Quantity" })
                    </td>
                </tr>

            </table>
        </div>
    </div>

    <br />

    <div class="row">
        <button type="submit" class="btn btn-success col-md-offset-3 col-md-2" id="save">
            <i class="fa fa-save"></i><b> Enregistrer </b>
        </button>
    </div>

    @Html.HiddenFor(wp => wp.ProductId, new { @id = "new123" })
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(function () {

            TemplateCategories = null;
            TemplateSuppliers = null;
            TemplateWeekProducts = null;

            $.ajaxSetup({
                // Disable caching of AJAX responses
                cache: false
            });

            TemplateCategories = Handlebars.compile($("#CategoriesTemplate").html());
            TemplateSuppliers = Handlebars.compile($("#SuppliersTemplate").html());
            TemplateWeekProducts = Handlebars.compile($("#WeekProductsTemplate").html());

            $("#Formulaire").hide();

            $.getJSON("/AchatAdmin/getSuppliers", null, function (data) {

                var result = TemplateSuppliers(data);
                $("#SuppliersList").html(result);

                $(".sups").change(function () {
                    var id = $(this).children(":selected").attr("id");

                    if (id != 0) {
                        getWeekProducts(id, "sup");
                    }

                }); // Fin de Suppliers.items.change
            }); // Fin de getSuppliers

            $.getJSON("/AchatAdmin/getCategories", null, function (data) {

                var result = TemplateCategories(data);
                $("#CategoriesList").html(result);

                $(".cats").change(function () {
                    var id = $(this).children(":selected").attr("id");

                    if (id != 0) {
                        getWeekProducts(id, "cat");
                    }

                }); // Fin de Categories.items.change
            }); // Fin de getCategories

            function getWeekProducts(id, type) {

                $.getJSON("/AchatAdmin/getWeekProducts", { Id: id, type: type }, function (data) {

                    var result = TemplateWeekProducts(data);
                    $("#WeekProductsList").html(result);

                }); // Fin de getWeekProducts
            } // Fin de function getWeekProducts

            function ModifyWeekProduct(id) {
                var Id = id;
                $("#Formulaire").show();

                $.getJSON("/AchetAdmin/getWeekProductDetails", { ProductId: Id }, function (data) {
                    $("#UnitPrice").val(data.UnitPrice);
                    $("#Format").val(data.Format);
                    $("#Quantity").val(data.Quantity);

                    //$.getJSON("/AchatAdmin/getSuppliers", null , function (data) {

                    //    $.each(data, function (index, optionData) {
                    //        $("#Supplier").append("<option value='" + optionData.Value + "'>" + optionData.Text + "</option>");
                    //    });
                    //});

                }); // Fin getWeekProductDetails
            } // Fin de ModifyWeekProduct
        }); // Fin du DOM Load

    </script>
}