@model EpicerieModel.Models.WeekViewModel

@{
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-4">
        <h3>@ViewBag.Message</h3>
    </div>
</div>

<br />

<p>
    Attention! Créer une nouvelle semaine rendra toute modification de la précédente impossible.
</p>

<div class="row" id="bouton">
    <div class="btn btn-success col-md-offset-1" id="btnNew"><i class="fa fa-plus-square"></i> Créer nouvelle session d'achat</div>
</div>

<br />

@using (Html.BeginForm("NewWeek", "AchatAdmin", FormMethod.Post, new
{
    @class = "form-horizontal",
    role = "form",
    @id = "Formulaire"
}))
{

    @Html.AntiForgeryToken()
    <hr />

    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="row">
        <div class="input-group">
            <table>

                <tr class="input-group">
                    <td>
                        @Html.LabelFor(w => w.DateDebut, new { @class = "input-group-addon", @style = "width:160px" })
                    </td>
                    <td>
                        @Html.TextBoxFor(w => w.DateDebut, new { @id = "DateStart", @placeholder = "Date" })
                    </td>
                </tr>

                <tr class="input-group">
                    <td >
                        @Html.LabelFor(w => w.DateFin, new { @class = "input-group-addon", @style = "width:160px" })
                    </td>
                    <td>
                        @Html.TextBoxFor(w => w.DateFin, new { @id = "DateEnd", @placeholder = "Date" })
                    </td>
                </tr>

                <tr class="input-group">
                    <td>
                        @Html.LabelFor(w => w.DateRecup, new { @class = "input-group-addon", @style = "width:160px" })
                    </td>
                    <td>
                        @Html.TextBoxFor(w => w.DateRecup, new { @id = "DateRecup", @placeholder = "Date" })
                    </td>
                </tr>

            </table>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="btn btn-success col-md-2 col-md-offset-1" id="btnAnnuler"><i class="fa fa-undo"></i> Annuler</div>
        <button type="submit" class="btn btn-success col-md-offset-3 col-md-2" id="save">
            <i class="fa fa-save"></i><b> Enregistrer </b>
        </button>
    </div>
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(function () {

            $.ajaxSetup({
                // Disable caching of AJAX responses
                cache: false
            });

            $("#Formulaire").hide();
            $("#btnAnuler").hide();

            $('#DateStart').datetimepicker({
                lang: "fr",
                format: 'Y/m/d',
                onShow: function (ct) {
                    this.setOptions({
                        maxDate: $('#DateEnd').val() ? $('#DateEnd').val() : false
                    })
                },
                timepicker: false
            });

            $('#DateEnd').datetimepicker({
                lang: "fr",
                format: 'Y/m/d',
                onShow: function (ct) {
                    this.setOptions({
                        minDate: $('#DateStart').val() ? $('#DateStart').val() : false
                    })
                },
                timepicker: false
            });

            $('#DateRecup').datetimepicker({
                lang: "fr",
                format: 'Y/m/d',
                onShow: function (ct) {
                    this.setOptions({
                        minDate: $('#DateEnd').val() ? $('#DateEnd').val() : false
                    })
                },
                timepicker: false
            });

            $("#btnNew").click(function () {
                $("#bouton").hide();
                $("#Formulaire").show();
                $("#btnAnuler").show();
            });

            $("#btnAnnuler").click(function () {
                $("#bouton").show();
                $("#Formulaire").hide();
                $("#btnAnuler").hide();
            })

        }); // Fin des functions
    </script>
}