@model IdentitySample.Models.SupplierViewModel
@{
    ViewBag.Title = "Fournisseurs";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-4">
        <h3>@ViewBag.Message</h3>
    </div>
</div>
<br />
<p>
    Selectionner un fournisseur dans la liste derulante pour le voir et le modifier, ou cliquer sur le bouton
    nouveau pour en ajouter un.
</p>
<div class="row">
    @Html.Partial("_AdminButonSansMCE")
</div>
<br />

@using (Html.BeginForm("Suppliers", "AchatAdmin", FormMethod.Post, new { @class = "form-horizontal", role = "form", 
    @id="Formulaire" }))
{
    @Html.AntiForgeryToken()
    <hr />
   @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row">
        <div class="input-group">
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.SupplierName, new { @class = "input-group-addon" })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.SupplierName, new { @class = "form-control", @id="name" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.SupplierContactName, new { @class = "input-group-addon" })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.SupplierContactName, new { @class = "form-control", @id="contact" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.SupplierPhone, new { @class = "input-group-addon" })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.SupplierPhone, new { @class = "form-control", @id="phone" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.SupplierFax, new { @class = "input-group-addon" })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.SupplierFax, new { @class = "form-control", @id="fax" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.SupplierMail, new { @class = "input-group-addon" })
                    </td>
                    <td>
                       @Html.TextBoxFor(m => m.SupplierMail, new { @class = "form-control", @id="mail" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.SupplierAdress, new { @class = "input-group-addon" })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.SupplierAdress, new { @class = "form-control", @id="adress" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.SupplierCity, new { @class = "input-group-addon" })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.SupplierCity, new { @class = "form-control", @id="city" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.SupplierPostalCode, new { @class = "input-group-addon" })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.SupplierPostalCode, new { @class = "form-control", @id="postalcode" })
                    </td>
                </tr>

            </table>
        </div>
        @Html.HiddenFor(m => m.NouvelleId , new { id = "new123" })
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/AdminButonsV2")
    <script>
        $(function () {
            $("#btnSupr").click(function () {
                $("#dialog-confirm").dialog({
                    resizable: false,
                    height: 200,
                    modal: true,
                    buttons: {
                        "Effacer": function () {
                            var x = $("#new123").val();
                            console.log(x);
                            window.open("/Admin/delSupplier?nID=" + x, "_self"); // Controler a faire
                            $(this).dialog("close");
                        },
                        Anuler: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });
            
            Templateitems = Handlebars.compile($("#itemsTemplate").html());
            $.getJSON("getSuppliers", null, function (data) { // Controler a faire
                var result = Templateitems(data);
                $("#ItemsList").html(result);
                $(".items").change(function () {
                    var id = $(this).children(":selected").attr("id");
                    if (id != 0) {
                        $("#btnmodif").show();
                        $("#btnSupr").show();
                        $("#Formulaire").show();
                        tinymce.activeEditor.getBody().setAttribute('contenteditable', false);
                        $("#new123").val(id);
                        $.getJSON("getSupplierDetails", { NouvelleId: id }, function (data) { // Controler a faire
                            $("#demotextbox").val(data.image);
                            $("#publier").prop('checked', data.publier);
                            tinymce.editors[0].setContent(data.page);
                            $("#titre").val(data.Titre);
                        });
                    }
                    else $("#btnAnuler").click();
                });
            });
        });
    </script>
}


