@model EpicerieModel.Models.TaxesViewModel

@{
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-4">
        <h3>@ViewBag.Message</h3>
    </div>
</div>

<br />

<p>
    Selectionner un fournisseur dans la liste deroulante pour le voir et le modifier, ou cliquer sur le bouton
    nouveau pour en ajouter un.
</p>

<div class="row">
    @Html.Partial("_AdminButonSansMCE")
</div>

<br />

@using (Html.BeginForm("Taxes", "AchatAdmin", FormMethod.Post, new
{
    @class = "form-horizontal",
    role = "form",
    @id = "Formulaire"
}))
{

    @Html.AntiForgeryToken()
    <hr />

    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="row">
        <div class="input-group">
            <table>

                <tr>
                    <td>
                        @Html.LabelFor(t => t.Taxe, new { @class = "input-group-addon", @style = "width:160px" })
                    </td>
                    <td>
                        @Html.TextBoxFor(t => t.Taxe, new { @class = "form-control", @id = "taxe", @style = "width:260px" })
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(t => t.Value, new { @class = "input-group-addon", @style = "width:160px" })
                    </td>
                    <td>
                        @Html.TextBoxFor(t => t.Value, new { @class = "form-control", @id = "value", @style = "width:260px" })
                    </td>
                </tr>

            </table>
        </div>
    </div>

    @Html.HiddenFor(t => t.Id, new { @id = "new123" })

    <br />

    <div class="row">
        <button type="submit" class="btn btn-success col-md-offset-3 col-md-2" id="save">
            <i class="fa fa-save"></i><b> Enregistrer </b>
        </button>
    </div>
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/AdminButonsV2")

    <script>

        $(function () {

            $.ajaxSetup({
                // Disable caching of AJAX responses
                cache: false
            });

            Templateitems = Handlebars.compile($("#itemsTemplate").html());

            $.getJSON("getTaxes", null, function (data) {

                $("#btnNew").hide();

                var result = Templateitems(data);
                $("#ItemsList").html(result);

                $(".items").change(function () {
                    var id = $(this).children(":selected").attr("id");

                    if (id != 0) {
                        $("#btnmodif").show();
                        $("#Formulaire").show();
                        $("#new123").val(id);

                        $.getJSON("getTaxeDetails", { TaxeId: id }, function (data) {
                            $("#taxe").val(data.Nom);
                            $("#value").val(data.value);                        

                        }); // Fin getTaxeDetails

                    }
                    else $("#btnAnuler").click();

                }); // Fin items .change
            }); // Fin getTaxes

            $("#btnmodif").click(function () {
                $("#boutons").hide();
                $("#btnAnuler").show();
                $("#Formulaire *").attr("disabled", false).on('click');
                $("#taxe").attr("disabled", true).on("click");
            });

        }); // Fin de chargement du DOM
    </script>
}