@{
    ViewBag.Title = "Contactez-nous";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-4">
        <h5>Ici notres coordonées</h5>

        <address>
            @ViewBag.Caddresse <br />
            @ViewBag.Cville , @ViewBag.Cprov @ViewBag.CcodPos <br />
            <abbr title="Phone">P :</abbr> @ViewBag.CPhone
        </address>

        <address>
            <strong>Courriel : </strong>   <a href="@ViewBag.CEmail">@ViewBag.CEmail</a><br />
        </address>

        <section id="emailForm">
            @Html.Partial("_SendMailtoAdmin", new ViewDataDictionary(ViewData) { { "adresse", "Contact" } })
        </section>

        </div>
         @Html.Raw(ViewBag.Cmap)
    </div>