@model IdentitySample.Models.test1234
@using System.Globalization

@section Scripts
{

    @*Template des Catégories*@
    <script type="text/x-handlebars-template" id="CategoriesTemplate">
        <select id="CategoryOutput" name="Categories" class="form-control">
            <option selected="selected" id=0 value="0">Choisissez une categorie</option>
            {{#each}}
            <option id={{CategoryID}}>{{CategoryName}}</option>
            {{/each}}
        </select>
    </script>

    @*Template des produits*@
    <script type="text/x-handlebars-template" id="ProductsTemplate">
        <div class="row">
            <h4 class="col-xs-4">Produits</h4>
            <h4 class="col-xs-3">Format</h4>
            <h4 class="col-xs-2">Prix $</h4>
            <h4 class="col-xs-2">Qty</h4>
            <h4 class="col-xs-1">Ajouter au panier</h4>
        </div>
        {{#each}}
        <div class="row" id=Product{{ProductID}}>
            <div class="col-xs-4">
                <h5 id="Name{{ProductID}}">{{ProductName}}</h5>
            </div>
            <div class="col-xs-3">
                <h5 id="Format{{ProductID}}">{{Format}}</h5>
            </div>
            <div class="col-xs-2">
                <h5 id="Price{{ProductID}}">{{Price}}</h5>
            </div>
            <div class="col-xs-2">
                <input class=" col-xs-12" id="Quantity{{ProductID}}" type="text" value="0" />
            </div>
            <div class="col-xs-1">
                <input id="AddProduct{{ProductID}}" type="submit" value="Ajouter" class="btn btn-success" onclick="AjouterPanier('{{ProductID}}')" />
            </div>
        </div>
        {{/each}}
    </script>
    @*Template du panier*@
    <script type="text/x-handlebars-template" id="CartTemplate">

        <div id="prod{{id}}" class="row produit">
            <input type="hidden" name="{{name}}.PID" value="{{id}}" />
            <div id="pname{{id}}" class="col-xs-3">{{nom}}</div>
            <div id="pformat{{id}}" class="col-xs-2">{{format}} </div>
            <div id="pprix{{id}}" class="col-xs-1">{{prix}}</div>
            <input class=" col-xs-1" id="CartQuantity{{id}}" type="text" value="{{qty}}" name="{{name}}.qty" readonly="readonly" />
            <div id="psous{{id}}" class="col-xs-2">{{Soustotal}}</div>
            <div class="col-xs-1"><input id="Cartupdate{{id}}" type="button" value="Modifier" onclick="ModifierProduit('{{id}}')" class="btn btn-warning" /></div>
            <div class="col-xs-1"><input id="Cartdelete{{id}}" type="button" value="Enlever" onclick="SupprimerProduit('{{id}}')" class="btn btn-danger" /></div>
        </div>
    </script>
    <script type="text/javascript">
        templateCategories = null;
        templateProducts = null;
        templateCart = null;
        var prix = 0;
        var action = "";
        var total = 0;
        var ancienprix = 0;
        var fTotal = 0;
        //variable tres important determine l'indice dans la liste objets
        var i = 0;

        $(function () {
            templateCategories = Handlebars.compile($("#CategoriesTemplate").html());
            templateProducts = Handlebars.compile($("#ProductsTemplate").html());
            templateCart = Handlebars.compile($("#CartTemplate").html());

            $.getJSON("/Epicerie/GetWeek", null, function (data) {
                var result = templateCategories(data);
                $("#CategoriesOutput").html(result);

                $.getJSON("/Epicerie/GetCategories", null, function (data) {
                    var result = templateCategories(data);
                    $("#CategoriesOutput").html(result);

                    //Afficher les catégories
                    $("#CategoryOutput").change(function () {
                        var id = $(this).children(":selected").attr("id");
                        if (id != 0) {
                            $.getJSON("/Epicerie/GetProduits", { cat: id }, function (data) {
                                var result = templateProducts(data);
                                $("#week123").val(data[0].WeeK);
                                $("#ProductsOutput").html(result);
                            });//GetProducts
                        }
                    })//GetCategories
                });
            })
        });
        function AjouterPanier(id) {
            action = "AJOUT";
            if ($("#Quantity" + id).val() > 0) {
                console.log(id);
                var p = $("#Price" + id).html();
                var q = $("#Quantity" + id).val();
                var sous = p * q;
                var produit = {
                    id: id,
                    nom: $("#Name" + id).html(),
                    format: $("#Format" + id).html(),
                    prix: p,
                    qty: q,
                    Soustotal: sous.toFixed(2),
                    //le name va a creer la relation avec le objet dans le model comme obj[0], obj[1], etc...
                    name: "obj[" + i + "]"
                };

                i += 1;
                var result = templateCart(produit);
                console.log(result);
                $("#CartOutput").append(result);
                Caltotal(id, p, q);

                $("#AddProduct" + id).attr("disabled", "disabled");
                $("#AddProduct" + id).attr("class", "btn btn-default");
                $("#AddProduct" + id).val("Ajouté");
                $("#Quantity" + id).attr("disabled", "disabled");
                $("#Panier").attr("hidden", false);
            }
            else {
                alert("SVP veuillez indiquer une quantité");
            }
        };

        function SupprimerProduit(id) {
            action = "ENLEVER";
            Caltotal(id);
            $("#prod" + id).remove();
            $("#AddProduct" + id).attr("disabled", false);
            $("#AddProduct" + id).attr("class", "btn btn-success");
            $("#AddProduct" + id).val("OK");
            $("#Quantity" + id).attr("disabled", false);
            $("#Quantity" + id).val(0);
            if (total < 1) {
                $("#Panier").attr("hidden", true);
            }
        }

        function ModifierProduit(id) {
            if ($("#Cartupdate" + id).val() == "Modifier") {
                $("#Cartupdate" + id).val("OK");
                $("#Cartupdate" + id).attr("class", "btn btn-success");
                $("#CartQuantity" + id).attr("readonly", false);

            } else {
                if ($("#Cartupdate" + id).val() == "OK") {
                    $("#Cartupdate" + id).val("Modifier");
                    $("#Cartupdate" + id).attr("class", "btn btn-warning");
                    $("#CartQuantity" + id).attr("readonly", true);
                    action = "MODIF";
                    Caltotal(id);
                }
            }
        }

        function Caltotal(id, p, q) {
            if (action == "AJOUT") {
                prix = p * q;
                total += prix;
                $("#totalOutput").html(total.toFixed(2));
            }
            if (action == "ENLEVER") {
                var montant = 0;
                montant = $('#psous' + id).html();
                total -= parseFloat(montant);
                $("#totalOutput").html(total.toFixed(2));
            }
            if (action == "MODIF") {
                var ancien = 0;
                var nprix = 0;
                var qt = 0;

                ancien = $('#psous' + id).html();
                ancienprix = parseFloat(ancien);
                qt = $('#CartQuantity' + id).val();
                nprix = $("#pprix" + id).html();
                nprix = parseFloat(nprix);
                prix = qt * nprix;
                $('#psous' + id).html(prix.toFixed(2));
                total += prix;
                total -= ancienprix;
                $("#totalOutput").html(total.toFixed(2));
            }

        };


    </script>
}

<div class="row">
    <div id="Message"></div>
</div>

<div class="container" id="BillButtons">
    <div>@Html.ActionLink("Factures", "Facture")</div>
</div>

<div id="Cat" class="Container">
    <div class="col-md-4">
        @*<div class="col-md-12">
                @foreach (var p in ViewBag.Period)
                {
                    <h4>
                        Période de commande du @p.Debut.ToString("dd/MMMM/yyyy", CultureInfo.CreateSpecificCulture("fr-CA"))
                        au                     @p.Fin.ToString("dd/MMMM/yyyy", CultureInfo.CreateSpecificCulture("fr-CA"))
                    </h4>
                    <h4>
                        Récupération le        @p.Recup.ToString("dd/MMMM/yyyy", CultureInfo.CreateSpecificCulture("fr-CA"))
                    </h4>
                }
            </div>*@
        <div id="CategoriesOutput" class="col-md-12"></div>
    </div>
    <div id="ProductsOutput" class="col-md-6"></div>

    <div>@ViewBag.Steeve</div>
    <hr />

    <div class="container" id="Panier" hidden="hidden">
        <div class="row">
            @using (Html.BeginForm("Index", "Epicerie", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "Formulaire" }))
            {
        <!-- objet cachet qui garde le valeur de la semaine courrante metre le valeur avec le id-->
                @Html.HiddenFor(m => m.week, new { @Value = "test", @id = "week123" })
                <div id="CartOutput" class="col-md-12">
                    <div class="row">
                        <h4 class="col-xs-3">Produits</h4>
                        <h4 class="col-xs-2">Format</h4>
                        <h4 class="col-xs-1">Prix $</h4>
                        <h4 class="col-xs-1">Qty</h4>
                        <h4 class="col-xs-2">Sous-Total</h4>
                        <h4 class="col-xs-1">Modifier</h4>
                        <h4 class="col-xs-1">Enlever</h4>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-xs-7"></div>
                    <div class="col-xs-2">
                        <h3><b>total $</b></h3>
                        <div class="col-xs-3" id="totalOutput">
                            <h3><b>0</b></h3>
                        </div>
                    </div><div class="col-xs-9"></div>
                    <div style="height:40px; float:left;"></div>
                    <div class="row col-md-12">
                        <!--Boutton pour envoyer le panier au serveur-->
                        <div style="text-align:center"><h3><b>En cliquant sur le bouton "Envoyez" vous ne pourrez pus effectuer de changement</b></h3></div>
                        <div class="col-xs-5"></div><input id="NewBill" type="submit" class="col-xs-2 btn btn-primary" value="Envoyer" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>





