@model IdentitySample.Models.AccueilViewModel
@{
    ViewBag.Title = "Modifier pages d'accueil";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Pages", "Admin", FormMethod.Post, new
{
    @class = "form-horizontal",
    role = "form",
    @id = "Formulaire"
}))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="input-group row">
        @Html.LabelFor(m => m.Gauche, new { @class = "input-group-addon" })
        @Html.TextAreaFor(m => m.Gauche, new { @class = "col-md-3 col-xs-3" })
    </div>
    <br />


    <br />

    <div class="row">
        @Html.TextAreaFor(m => m.Contenu, new { @id = "elm1", @name = "area", @class = "col-md-9 col-xs-9" })
    </div>
    <br />
    <br />
    <div class="row alert alert-info">
        <button type="submit" class="btn btn-danger col-md-offset-3 col-md-2" id="save">
            <i class="fa fa-save"></i><b> Enregistrer sans publier</b>
        </button>
    </div>
}