@model IdentitySample.Models.PachatsViewModel
@{
    ViewBag.Title = "Modifier la page de presentation du groupe d'achats";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3 class="text-success">@ViewBag.success</h3>

@using (Html.BeginForm("Achats", "Admin", FormMethod.Post, new
{
    @class = "form-horizontal",
    role = "form",
    @id = "Formulaire"
}))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="input-group row">
        @Html.LabelFor(m => m.Titre, new { @class = "input-group-addon" })
        @Html.TextBoxFor(m => m.Titre, new { @class = "col-md-4 col-xs-4 form-control", @id="titre"})
    </div>
    <br />
    <br />

    <div class="row">
        @Html.LabelFor(m => m.Contenu, new { @for = "elm1" })
        @Html.TextAreaFor(m => m.Contenu, new { @id="elm1", @class="col-md-9 col-xs-9" })
    </div>
    <br />
    <br />
    <div class="row alert alert-info">
        <div class="checkbox">
            @Html.CheckBoxFor(m=>m.fb)
            @Html.LabelFor(m => m.fb)
        </div>
        <button type="submit" class="btn btn-success col-md-3" id="save">
            <i class="fa fa-save"></i><b> Enregistrer les changements</b>
        </button>
    </div>

}

@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="../Content/plugins/tinymce/tinymce.min.js"></script>
   <script type="text/javascript" src="~/Scripts/tinycontrol.js"></script>
}
