@model IdentitySample.Models.PachatsViewModel
@{
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Achats", "Admin", FormMethod.Post, new
{
    @class = "form-horizontal",
    role = "form",
    @id = "Formulaire"
}))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="input-group row">
        @Html.LabelFor(m => m.Titre, new { @class = "input-group-addon" })
        @Html.TextBoxFor(m => m.Titre, new { @class = "col-md-4 col-xs-4 form-control", @id="titre"})
    </div>
    <br />
    <br />

    <div class="row">
        @Html.LabelFor(m => m.Contenu, new { @for = "elm1" })
        @Html.TextAreaFor(m => m.Contenu, new { @id="elm1", @class="col-md-9 col-xs-9" })
    </div>
    <br />
    <br />
    <div class="row alert alert-info">
        <div class="checkbox">
            @Html.CheckBoxFor(m=>m.fb)
            @Html.LabelFor(m => m.fb)
        </div>
        <button type="submit" class="btn btn-success col-md-3" id="save">
            <i class="fa fa-save"></i><b> Enregistrer les changements</b>
        </button>
    </div>

}

@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="../Content/plugins/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        $(function () {
            //parametres de ouverture du tinymce
            tfm_path = '/tinyfilemanager.net';
            tinymce.init({
                language: 'fr_FR',
                selector: "textarea#elm1",
                theme: "modern",
                height: 400,
                plugins: [
                     "advlist autolink link image lists charmap print preview hr anchor pagebreak",
                     "searchreplace wordcount visualblocks visualchars code insertdatetime media nonbreaking",
                     "save table contextmenu directionality emoticons template paste textcolor "
                ],
                toolbar: "print preview searchreplace | undo redo paste | styleselect | bold italic underline | upload |" +
                " alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link unlink " +
                "anchor image media | forecolor backcolor emoticons charmap hr | insertdatetime nonbreaking table |  pagebreak " +
                " visualblocks visualchars code  ",
                style_formats: [
                     { title: 'Bold text', inline: 'b' },
                     { title: 'Red text', inline: 'span', styles: { color: '#ff0000' } },
                     { title: 'Red header', block: 'h1', styles: { color: '#ff0000' } },
                     { title: 'Example 1', inline: 'span', classes: 'example1' },
                     { title: 'Example 2', inline: 'span', classes: 'example2' },
                     { title: 'Table styles' },
                     { title: 'Table row 1', selector: 'tr', classes: 'tablerow1' }
                ]
            });
        });
        </script>
}
