@model IdentitySample.Models.EvenementsViewModel
@{
    ViewBag.Title = "Controle des évenements";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}

<h2>@ViewBag.Title</h2>
<p>
    Selectionne une évenement future dans la liste derulante pour le voir et modifier, ou click sur le bouton
    Nouvelle évenement
</p>
<br />

<div class="row">
    @Html.Partial("_AdminButonModifNew")
</div>

@using (Html.BeginForm("Evenements", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form",
    @id="Formulaire" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="input-group row">
            @Html.LabelFor(m => m.Titre, new { @class = "input-group-addon" })
            @Html.TextBoxFor(m => m.Titre, new { @class = "form-control", @id = "titre",
                                @placeholder = "Ex: Fêtê des Voinsins 2014"})
        </div>
    <br />

    <div class="row">
        <div class="form-group col-md-4  ">
            @Html.LabelFor(m => m.PhotoPrincipal)
            @Html.TextBoxFor(m => m.PhotoPrincipal, new { @class = "form-control", @id = "demotextbox", @size = "50" })
            &nbsp;<button id="btnDemoTextBox">Choisissez un fichier</button>
            <p class="help-block">Selectionne l'imagen Principal a montrer de l'evenement.</p>
        </div>

        <div class="col-md-5">
            <strong>Information de base sur l'évenement :</strong>

            <div class="input-group">
                @Html.LabelFor(m=>m.Lieu)
                @Html.TextBoxFor(m => m.Lieu, new { @class = "form-control", @id = "Lieu",
                                    @placeholder = "Ex: Centre Saint Nom de Jésus" })
            </div>
            <div class="input-group ">
                @Html.LabelFor(m => m.Adresse)
                @Html.TextBoxFor(m => m.Adresse, new { @class = "form-control", @id = "Adresse",
                                    @placeholder = "123 rue Racine Est" })
            </div>
            <div class="input-group ">
                <div class="input-group-addon ">Commence </div>
                @Html.TextBoxFor(m => m.DateStart, new
           {
               @class = "datetimepicker1",
               @id = "DateStart"
                                    , @placeholder = "Date" })
                @Html.TextBoxFor(m => m.HourStart, new
           {
               @class = "datetimepicker2",
               @id = "HeureStart"
                                    , @placeholder = "Heure" })
            </div>
            <div class="input-group ">
                <div class="input-group-addon">&nbsp &nbsp &nbsp fin : &nbsp &nbsp &nbsp </div>
                @Html.TextBoxFor(m => m.DateEnd, new
           {
               @class = "datetimepicker1",
               @id = "DateEnd"
               ,
               @placeholder = "Date"
           })
                @Html.TextBoxFor(m => m.HourEnd, new
           {
               @class = "datetimepicker2",
               @id = "HourEnd"
               ,
               @placeholder = "Heure"
           })
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        @Html.TextAreaFor(m => m.Contenu, new { @id = "elm1", @name = "area", @class = "col-md-12 col-xs-12" })
    </div>
    <br />
    <div class="row alert alert-info">
        <div class="col-md-4">
            <strong>L'évenement est pret?</strong>
            <div class="checkbox">
                @Html.CheckBoxFor(m => m.Publier, new { @id = "publier" })
                @Html.LabelFor(m => m.Publier)
            </div>
            @Html.HiddenFor(m => m.EvenementId, new { id = "new123" })
        </div>

        <input type="submit" class="btn btn-danger col-md-offset-5 col-md-3" value="Enregistrer sans publier" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/AdminButons")
    <script>
        $(function () {
            $("#btnSupr").click(function () {
                $("#dialog-confirm").dialog({
                    resizable: false,
                    height: 200,
                    modal: true,
                    buttons: {
                        "Effacer": function () {
                            var x = $("#new123").val();
                            console.log(x);
                            window.open("/Admin/delNews?nID=" + x, "_self");
                            $(this).dialog("close");
                        },
                        Anuler: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });

            Templateitems = Handlebars.compile($("#itemsTemplate").html());
            $.getJSON("getEvenements", null, function (data) {
                var result = Templateitems(data);
                $("#ItemsList").html(result);
                $(".items").click(function () {
                    var id = this.id;
                    $("#btnmodif").show();
                    $("#btnSupr").show();
                    $("#Formulaire").show();
                    tinymce.activeEditor.getBody().setAttribute('contenteditable', false);
                    $("#new123").val(id);
                    $.getJSON("getNDetails", { NouvelleId: id }, function (data) {
                        $("#demotextbox").val(data.image);
                        $("#publier").prop('checked', data.publier);
                        tinymce.editors[0].setContent(data.page);
                        $("#titre").val(data.Titre);
                    });
                });
            });

            $('.datetimepicker2').datetimepicker({
                datepicker: false,
                format: 'H:i'
            });

            $('.datetimepicker1').datetimepicker({
                lang: 'de',
                i18n: {
                    de: {
                        months: [
                         'Januar', 'Februar', 'März', 'April',
                         'Mai', 'Juni', 'Juli', 'August',
                         'September', 'Oktober', 'November', 'Dezember',
                        ],
                        dayOfWeek: [
                         "So.", "Mo", "Di", "Mi",
                         "Do", "Fr", "Sa.",
                        ]
                    }
                },
                timepicker: false,
                format: 'd.m.Y'
            });

        });
    </script>

}