@model IdentitySample.Models.NouvellesViewModel
@{
    ViewBag.Title = "Centre des nouvelles";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}
<h2>@ViewBag.Title</h2>
<p>
    Selectionne une notice dans la liste derulante pour le voir et modifier, ou click sur le bouton
    Nouvelle nouvele
</p>
<br />
<div class="row">
    @Html.Partial("_AdminButonModifNew")
</div>


@using (Html.BeginForm("Notice", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form", 
    @id="Formulaire" }))
{
    @Html.AntiForgeryToken()
    <hr />
   @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row">
        <div class="input-group">
            @Html.LabelFor(m => m.Nouvelletitre, new { @class = "input-group-addon" })
            @Html.TextBoxFor(m => m.Nouvelletitre, new { @class = "form-control", @id="titre",
                                @placeholder="Ex: Le moulin d'àcôté recive un prix de la ville" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="form-group col-md-3  ">
            @Html.LabelFor(m => m.NouvellePhotoPrincipal)
            @Html.TextBoxFor(m => m.NouvellePhotoPrincipal, new { @class = "form-control", @id = "demotextbox", @size = "50" })
            &nbsp;<button id="btnDemoTextBox">Choisissez un fichier</button>
            <p class="help-block">Selectionne l'imagen Principal a montrer de la nouvelle.</p>
        </div>
    </div>
    <div class="row">
        @Html.TextAreaFor(m => m.NouvelleText, new { @id="elm1", @name="area", @class="col-md-12 col-xs-12" })
    </div>
    <br />
    <br />
    <div class="row alert alert-info">
        <div class="col-md-4">
            <strong>Prêt a publier?</strong>
            <div class="checkbox">
                @Html.CheckBoxFor(m => m.Publier, new { @id = "publier" })
                @Html.LabelFor(m => m.Publier)
            </div>
            @Html.HiddenFor(m => m.PId, new { @id = "new123" })
        </div>
        <button type="submit" class="btn btn-danger col-md-offset-3 col-md-2" id="save">
            <i class="fa fa-save"></i><b> Enregistrer sans publier</b>
        </button>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/AdminButons")
    <script>
        $(function () {
            $("#btnSupr").click(function () {
                $("#dialog-confirm").dialog({
                    resizable: false,
                    height: 200,
                    modal: true,
                    buttons: {
                        "Effacer": function () {
                            var x = $("#new123").val();
                            console.log(x);
                            window.open("/Admin/delNews?nID=" + x, "_self");
                            $(this).dialog("close");
                        },
                        Anuler: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });
            
            Templateitems = Handlebars.compile($("#itemsTemplate").html());
            $.getJSON("getNouvelles", null, function (data) {
                var result = Templateitems(data);
                $("#ItemsList").html(result);
                $(".items").change(function () {
                    var id = $(this).children(":selected").attr("id");
                    if (id != 0) {
                        $("#btnmodif").show();
                        $("#btnSupr").show();
                        $("#Formulaire").show();
                        tinymce.activeEditor.getBody().setAttribute('contenteditable', false);
                        $("#new123").val(id);
                        $.getJSON("getNDetails", { NouvelleId: id }, function (data) {
                            $("#demotextbox").val(data.image);
                            $("#publier").prop('checked', data.publier);
                            tinymce.editors[0].setContent(data.page);
                            $("#titre").val(data.Titre);
                        });
                    }
                    else $("#btnAnuler").click();
                });
            });
        });
    </script>
}
