@model IdentitySample.Models.NouvellesViewModel
@{
    ViewBag.Title = "Centre des nouvelles";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}
<h2>@ViewBag.Title</h2>
<p>
    Selectionne une notice dans la liste derulante pour le voir et modifier, ou click sur le bouton
    Nouvelle nouvele
</p>
<br />
<div class="row">
    @Html.Partial("_AdminButonModifNew")
</div>

@using (Html.BeginForm("Notice", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form", 
    @id="Formulaire" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-error" })
    <div class="row">
        <div class="input-group">
            <div class="input-group-addon">Titre du Notice : </div>
            @Html.TextBoxFor(m => m.Nouvelletitre, new { @class = "form-control", @id="titre",
                                @placeholder="Ex: Le moulin d'àcôté recive un prix de la ville" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="form-group col-md-4  ">
            @Html.LabelFor(m => m.NouvellePhotoPrincipal)
            @Html.TextBoxFor(m => m.NouvellePhotoPrincipal, new { @class = "form-control", @id = "demotextbox", @size = "50" })
            &nbsp;<button id="btnDemoTextBox">Choisissez un fichier</button>
            <p class="help-block">Selectionne l'imagen Principal a montrer de la nouvelle.</p>
        </div>
    </div>
    <div class="row">
        @Html.TextAreaFor(m => m.NouvelleText, new { @id="elm1", @name="area", @class="col-md-12 col-xs-12" })
    </div>
    <br />
    <div class="row alert alert-info">
        <div class="checkbox col-md-3">
            @Html.CheckBoxFor(m => m.NouvellePublier, new { @id = "publier" })
            @Html.LabelFor(m => m.NouvellePublier)
        </div>
        @Html.HiddenFor(m => m.NouvelleId , new { id = "new123" })
        <input type="submit" class="btn btn-danger col-md-offset-5 col-md-3" value="Enregistrer sans publier" />
    </div>
}

@section Scripts {
    <script>
        $(function () {
            Templateitems = Handlebars.compile($("#itemsTemplate").html());
            $.getJSON("getNouvelles", null, function (data) {
                var result = Templateitems(data);
                $("#ItemsList").html(result);
                $(".items").click(function () {
                    var id = this.id;
                    $("#btnmodif").show();
                    $("#btnSupr").show();
                    $("#Formulaire").show();
                    tinymce.activeEditor.getBody().setAttribute('contenteditable', false);
                    $("#new123").val(id);
                    $.getJSON("getNDetails", { NouvelleId: id }, function (data) {
                        $("#demotextbox").val(data.image);
                        $("#publier").prop('checked', data.publier);
                        tinymce.editors[0].setContent(data.page);
                        $("#titre").val(data.Titre);
                    });
                });
            });
        });
    </script>
}
