@model IdentitySample.Models.PagesViewModel
@{
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}

<h2>@ViewBag.Title</h2>
<p>
    Selectionne une page dans la liste derulante pour le voir et modifier, ou click sur le bouton
</p>
<br />

<div class="row">
    @Html.Partial("_AdminButonModifNew")
</div>

@using (Html.BeginForm("Pages", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form", @hidden = "hidden",
    @id="Formulaire" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="input-group row">
        @Html.LabelFor(m => m.Titre, new { @class = "input-group-addon" })
        @Html.TextBoxFor(m => m.Titre, new { @class = "form-control", @id = "titre", @placeholder = "Ex: Fêtê des Voinsins 2014"})
    </div>
    <br />

    <div class="row">
        <div class="form-group col-md-3">
            <div class="input-group">
                @Html.LabelFor(m => m.MenuName, new { @class = "input-group-addon" })
                @Html.TextBoxFor(m => m.MenuName, new { @class = "form-control col-md-2", @id = "MenuName", @placeholder = "Ex: A propos" })
            </div>
            <p class="help-block">Nom du page à apparaitre dans les menus Max 15 char.</p>
        </div>

        <div class="col-md-7">

            <strong>Position du page dans le menu</strong>
            <div class="checkbox">
                @Html.CheckBoxFor(m => m.Principal, new { @id = "menuPrincipal" })
                @Html.LabelFor(m => m.Principal)
                
            </div>
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.menuParent, new SelectList(new string[] {"soccer"}), ( new {@class="form-control", @id="menuparents"}))
            </div>
        </div>
    </div>
            <br />

            <div class="row">
                @Html.TextAreaFor(m => m.Contenu, new { @id = "elm1", @name = "area", @class = "col-md-12 col-xs-12" })
            </div>
    <br />
    <br />
    <div class="row alert alert-info">
        <div class="col-md-4">
            <strong>Prêt a publier?</strong>
            <div class="checkbox">
                @Html.CheckBoxFor(m => m.Publier, new { @id = "publier" })
                @Html.LabelFor(m => m.Publier)
            </div>
            @Html.HiddenFor(m => m.PId, new { @id = "new123" })
        </div>
        <button type="submit" class="btn btn-danger col-md-offset-3 col-md-2" id="save">
            <i class="fa fa-save"></i><b> Enregistrer sans publier</b>
        </button>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/AdminButons")
    <script>
        $(function () {
            $("#btnSupr").click(function () {
                $("#dialog-confirm").dialog({
                    resizable: false,
                    height   : 200,
                    modal    : true,

                    buttons:
                        {
                            "Effacer": function ()
                            {
                                var x = $("#new123").val();
                                console.log(x);
                                window.open("/Admin/delPage?pID=" + x, "_self");
                                $(this).dialog("close");
                            },
                            Anuler: function () {
                                $(this).dialog("close");
                        }
                    }
                });
            });

            $.getJSON("getparents", null, function (data) {
                var result = Templateitems(data);
                $("#menuparents").html(result);
            });



            $.getJSON("getPages", null, function (data) {
                var result = Templateitems(data);
                $("#ItemsList").html(result);
                $(".items").change(function () {
                    var id = $(this).children(":selected").attr("id");
                    if(id != 0){
                        $("#menuparents option[value='0']").prop('selected', true);
                        $("#btnmodif").show();
                        $("#btnSupr").show();
                        $("#Formulaire").show();
                        tinymce.activeEditor.getBody().setAttribute('contenteditable', false);
                        $("#new123").val(id);
                        $.getJSON("getPDetails", { pageId: id }, function (data) {
                            $("#publier").prop('checked', data.publier);
                            tinymce.editors[0].setContent(data.page);
                            $("#titre").val(data.Titre);
                            $("#menuPrincipal").prop('checked', data.principal);
                            $("#MenuName").val(data.menuName);
                            $("#menuparents option[value='" + data.menuparent + "']").prop('selected', true);
                            $("#publier").change();
                        });
                    }
                    else $("#btnAnuler").click();
                });
            });

            $("#menuparents").change(function () {
                $("#menuPrincipal").prop('checked', false);
            });

            $("#menuPrincipal").change(function () {
                if ($(this).is(":checked")) {
                    $("#menuparents option[value='0']").prop('selected', true);
                }
            });
        });
    </script>
}
