@{
    ViewBag.Title = "Gerer votre Compte";
}

<h2>@ViewBag.Title.</h2>
<h4>Salut @ViewBag.nom</h4>
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-10">
        <p>
            Numéro de téléphone @(ViewBag.PhoneNumber ?? "None") [
            @if (ViewBag.PhoneNumber != null)
            {
                @Html.ActionLink("Modifier", "AddPhoneNumber")
                @: &nbsp;|&nbsp;
                @Html.ActionLink("Effacer", "RemovePhoneNumber")
            }
            else
            {
                @Html.ActionLink("Ajouter", "AddPhoneNumber")
            }
            ]
        </p>
        <br/>
        <hr />

        @Html.Partial("ChangePassword")




    </div>
</div>
