@model IdentitySample.Models.IndexViewModel
@{
    ViewBag.Title = "Modifier votre Compte";
}

<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-8">
        <p>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Modifier votre mot de passe", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("creer un mot de passe local", "SetPassword")
            }
        </p>
        <p>
            Phone Number: @(Model.PhoneNumber ?? "None") [
            @if (Model.PhoneNumber != null)
            {
                @Html.ActionLink("Modifier", "AddPhoneNumber")
                @: &nbsp;|&nbsp;
                @Html.ActionLink("Effacer", "RemovePhoneNumber")
            }
            else
            {
                @Html.ActionLink("Ajouter", "AddPhoneNumber")
            }
            ]
        </p>

    </div>
</div>
