@model IdentitySample.Models.IndexViewModel
@{
    ViewBag.Title = "Gerer votre Compte";
}

<h2>@ViewBag.Title.</h2>
<h4>Salut @ViewBag.nom</h4>
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-10">
        <p>
            Numéro de céllulaire : @(ViewBag.PhoneNumber ?? "None") [
            @if (ViewBag.PhoneNumber != null)
            {
                @Html.ActionLink("Modifier", "AddPhoneNumber")
                @: &nbsp;|&nbsp;
                @Html.ActionLink("Effacer", "RemovePhoneNumber")
            }
            else
            {
                @Html.ActionLink("Ajouter", "AddPhoneNumber")
            }
            ]
        </p>
        <br/>
            @*@if (Model.TwoFactor)
            {
                <form method="post" action="/Manage/DisableTFA">
            <p>
                Two factor is currently enabled:
                <input type="submit" value="Disable" class="btn btn-default" />
            </p>
            </form>
            }
            else
            {
                <form method="post" action="/Manage/EnableTFA">
                    <p>
                        Two factor is currently disabled:
                        <input type="submit" value="Enable" class="btn btn-default" />
                    </p>
                </form>
            }
            @if (Model.BrowserRemembered)
            {
                <form method="post" action="/Manage/ForgetBrowser">
                    <p>
                        Browser is curently remembered for two factor:
                        <input type="submit" value="Forget Browser" class="btn btn-default" />
                    </p>
                </form>
            }
            else
            {
                <form method="post" action="/Manage/RememberBrowser">
                    <p>
                        Browser is curently not remembered for two factor:
                        <input type="submit" value="Remember Browser" class="btn btn-default" />
                    </p>
                </form>
            }*@
        <hr />

        @Html.Partial("ChangePassword")




    </div>
</div>
